@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Rezervacija sjedišta";
}

<h3>Rezervacija sjedišta</h3>
<p>Izaberite sjedišta za koja želite rezervisati karte. Broj sjedišta označava broj karata.</p>
<br />
<div id="chart"></div>
<button id="daljeBtn" style="float: right" type="button">Dalje</button>
<form id="submitSeatsForm" action="~/TicketReservation/ReservationSummary.cshtml" method="post">
    @Html.Hidden("seatIDs", null, new { id = "seatIDs" })
    @Html.Hidden("projectionID", Request.Form["projectionID"])
</form>
<script type="text/javascript" src="https://app.seats.io/chart.js"></script>
<script>
    var seatIDs = [];
    $(function () {
        document.getElementById("daljeBtn").addEventListener("click", function () {
            document.getElementById("seatIDs").value = seatIDs.join(",");
            $("#submitSeatsForm").submit();
        });

        new seatsio.SeatingChart({
            divId: "chart",
            publicKey: "d22fdff4-7b0f-41c9-bbc4-045853925b6b",
            event: "6fcc2010-8d1d-4120-9d04-d097448dc0b9",
            onObjectSelected: function (object) {
                seatIDs.push(object.id);
                console.log("Added " + object.id);
            }
        }).render();
    });
</script>