@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Zaključan račun";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Pristup Vašem računu je zabranjen zbog prevelikog broja netačnih prijava.</h2>
</hgroup>

<p>
    Bez brige - račun će se automatski otključati za 60 sekundi.
    Molimo, probajte ponovo nakon što to vrijeme istekne.
</p>