@{
    // Set the layout page and page title
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Neuspješna prijava";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Neuspješna prijava pomoću servisa.</h2>
</hgroup>
